/* Customizing the body content */
body {
    background-color: #000000; /* Light background */
    font-family: 'Arial', sans-serif;
  }
  
  /* Header styles */
  .header-content h1 {
    color: #df360c; /* Bootstrap primary color */
    font-weight: bold;
    letter-spacing: 2px;
  }
  
  .header-content hr {
    border-top: 2px solid #df360c;
  }
  
  /* Form styles */
  form input[type="email"],
  form input[type="password"] {
    border-radius: 8px;
    border: 1px solid #df360c;
    padding: 10px;
  }
  
  /* Button styles */
  button {
    padding: 10px 20px;
    font-size: 16px;
  }

  .btn:hover {
    background-color: #cc7750;
    color:#000000;
    border-color: #cc7750;
    cursor: pointer;
  }
  
  /* .btn-danger:hover, .btn-secondary:hover, .btn-success:hover, .btn-primary:hover {
    background-color: #cc7750;
    color:#000000;
    border-color: #cc7750;
    cursor: pointer;
  } */


  .btn-primary {
    background-color: #df360c;
    border-color: #df360c;
  }
  
  .btn-secondary {
    background-color: #df360c;
    border-color: #df360c;
  }
  
  .btn-danger {
    background-color: #df360c;
    border-color: #df360c;
  }
    
  .btn-success {
    background-color: #df360c;
    border-color: #df360c;
  }

  input[type="range"]::-webkit-slider-thumb {
    background-color: #df360c;
  }


  /* Footer styles */
  footer a {
    color: #df360c;
    text-decoration: none;
  }
  
  footer a:hover {
    text-decoration: underline;
  }
  
  footer hr {
    border-top: 1px solid #df360c;
  }
  