.rating-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin: 0 auto;
  }
  
  .rating-btn {
    width: 50px;
    height: 50px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: none;
    text-align: center;
    cursor: pointer;
    align-items: center;
  }
  
  .rating-btn[data-rating="10"] {
    background-color: #ff5722;
  }
  
  .rating-btn[data-rating="9"] {
    background-color: #ff7043;
  }
  
  .rating-btn[data-rating="8"] {
    background-color: #ff8a65;
  }
  
  .rating-btn[data-rating="7"] {
    background-color: #ffab91;
  }
  
  .rating-btn[data-rating="6"] {
    background-color: #ffccbc;
  }
  
  .rating-btn[data-rating="5"] {
    background-color: #ffe0b2;
  }
  
  .rating-btn[data-rating="4"] {
    background-color: #fff3e0;
  }
  
  .rating-btn[data-rating="3"] {
    background-color: #ffe082;
  }
  
  .rating-btn[data-rating="2"] {
    background-color: #ffd54f;
  }
  
  .rating-btn[data-rating="1"] {
    background-color: #ffca28;
  }
  
  /* Hover Effect */
  .rating-btn:hover {
    filter: brightness(0.9);
  }
  