/* Global Styles */
body {
  background-color: #000000; /* Light background */
  font-family: 'Arial', sans-serif;
  color: white;
}

/* Header styles */
.header-content h1 {
  color: #df360c; /* Bootstrap primary color */
  font-weight: bold;
  letter-spacing: 2px;
}

.header-content hr {
  border-top: 2px solid #df360c;
}

/* Button styles */
button {
  padding: 10px 20px;
  font-size: 16px;
  color: #df360c;
  background-color: white;
}

.btn:hover {
  background-color: #cc7750;
  color: #000000;
  border-color: #cc7750;
  cursor: pointer;
}

/* Ensure uniform colors for buttons */
.btn-primary, .btn-secondary, .btn-danger, .btn-success {
  background-color: #df360c;
  border-color: #df360c;
}

.btn-logout{
  background-color: #ffffff;
  border-color: #df360c;
  color: #df360c;
}

.btn-danger {
  align-items: right;
}

.btn-success{
  align-items: left;
}

/* Range input thumb styling */
input[type="range"]::-webkit-slider-thumb {
  background-color: #df360c;
}

/* Container to hold buttons */
.rating-buttons {
  display: flex;
  flex-direction: column; /* Stack buttons vertically */
  align-items: center; /* Ensure buttons are horizontally centered */
  margin: 0 auto; /* Center the rating buttons container */
}

/* Style each button */
.rating-btn {
  width: 60px; /* Button width */
  height: 60px; /* Button height (square) */
  margin: 5px 0; /* Space between buttons */
  font-size: 18px;
  color: #000000;
  border: none;
  cursor: pointer;
}

/* Shades of orange for each button */
.rating-btn:nth-child(1) { background-color: #ff4500; } /* Dark orange */
.rating-btn:nth-child(2) { background-color: #ff5733; }
.rating-btn:nth-child(3) { background-color: #ff6f50; }
.rating-btn:nth-child(4) { background-color: #ff7f66; }
.rating-btn:nth-child(5) { background-color: #ff8f7a; }
.rating-btn:nth-child(6) { background-color: #ffa088; }
.rating-btn:nth-child(7) { background-color: #ffb396; }
.rating-btn:nth-child(8) { background-color: #ffc6a3; }
.rating-btn:nth-child(9) { background-color: #ffd8b0; }
.rating-btn:nth-child(10) { background-color: #ffeccc; } /* Light orange */

/* Hover effect */
.rating-btn:hover {
  opacity: 0.8;
}

/* Footer styles */
footer a {
  color: #df360c;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

footer hr {
  border-top: 1px solid #df360c;
}

h2.mb-4 {
  font-size: 1rem; /* Adjust this value to make the text smaller */
}

.custom-dialog {
  color: black;
}
